doctype html
html
  head
    title= title
    link(rel='stylesheet', href='main.css')
  body
    block content

    script(src="main-bundle.js")
    if(process.env.NODE_ENV === 'development')
      script(src=(process.env.BROWSER_REFRESH_URL))
